{{>layouts/header}}
<!-- Login Section-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Life`s Synapse</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0"> Welcome ! Communicate with people! </p>
    </div>
</header>
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">LOGIN</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- id 입력란 -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="id" type="text" placeholder="ID" data-sb-validations="required" />
                        <label for="name">ID</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <!-- password 입력란-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="password" type="password" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Password</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>

                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>

                    <!-- Login Button-->
                    <button class="btn btn-primary btn-xl" id="LoginButton" type="button" href="/MainPage/login"> Login </button>

                </form>
            </div>
        </div>
    </div>
</section>

{{>layouts/footer}}

<script>

    // 로그인 버튼 변수화
    const LoginButton = document.querySelector("#LoginButton");


    // 로그인 버튼 클릭 시 이벤트
    LoginButton.addEventListener("click", function (){
        const loginInfo = {
            id: document.querySelector("#id").value,
            password: document.querySelector("#password").value
        }
        const url="/MainPage";

        fetch(url, {
            method: "POST",
            body: JSON.stringify(loginInfo),
            headers: {
                "Content-Type": "application/json"
            }
        }).then(response=>{
            if(response.ok){

                alert("로그인이 완료되었습니다!");
                location.assign("/login");
            }
            else
                alert("회원 정보가 없습니다!");
        }).catch(err=>{
            console.log(err);
        })


    });


</script>

<!--&lt;!&ndash; Bootstrap core JS&ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>-->
<!--&lt;!&ndash; Core theme JS&ndash;&gt;-->
<!--<script src="js/scripts.js"></script>-->
<!--&lt;!&ndash; * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *&ndash;&gt;-->
<!--&lt;!&ndash; * *                               SB Forms JS                               * *&ndash;&gt;-->
<!--&lt;!&ndash; * * Activate your form at https://startbootstrap.com/solution/contact-forms * *&ndash;&gt;-->
<!--&lt;!&ndash; * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *&ndash;&gt;-->
<!--<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
<!--</body>-->
<!--</html>-->
